* {
	margin: 0;
	padding: 0;
}

.folder {
}
.folder-name {
	border: 1px solid #dfdfdf;
	padding: 6px;
	font-size: 12px;
	line-height: 12px;
	background-color: #dfdfdf;
}
.folder-child {
	margin-left: 16px;
	border-left: 4px solid #999999;
}
